*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


# Ignore node_modules
node_modules/

# Ignore IDE-specific files (optional)
.idea/
.vscode/

# Ignore build output (optional)
/build/
